<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="../static/main.js"></script>

</head>

<body>
    <header>
        <h1>Frontier League Savant</h1>
        <hr>
        <nav>
            <ul>
                <li><a href="#">Stuff+ Leaderboard</a></li>
                <li><a href="#">xStats Leaderboard</a></li>
                <li><a href="umpire">Umpire Reports</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
    </main>

</body>

</html>