body {
    font-family: 'Roboto Mono', monospace !important;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 12pt;
    background-color: #ffffff;
    color: #333;
    padding-top: 20px;
    text-align: center;
    margin: 10px;
}

header h1 {
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #545454;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.active {
    color: white;
    background-color: #545454;
}

#selectContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

#plotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plotContainer img {
    max-width: 400px;
    margin: 10px;
}

#umpireSelect, #pitcherSelect, #catcherSelect {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

hr {
    color:black;
}

#umpLeaderboard {
    display: block;
  margin: 0 auto;
  max-width: 800%;
  height: auto;
}

#stuffWrapper, #locationWrapper, #pitchingWrapper, #xstatsWrapper {
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}

#headerLeaderboard, #catcherLeaderboard {
    margin-left: 200px;
}

#plotContainerPitcher {
    align-items: center;
}

#pitcherImage {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 50%;
}

header li {
    font-size: .95rem;
    margin-bottom: 20px;
}



.row-flex, #indexContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.row-flex:last-child {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;

}

.row-flex:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    width: 50%;
}

#catcherLeaderboard {
    max-width: 80%;
    margin-right: 30px;
}

#catcherImage {
    margin-left: 50px;
}

#pitchingWrapper, #xstatsWrapper, #plotContainer  {
    margin-bottom: 30px;
}

.content-container {
    display: flex;
    align-items: center;
}

.col-md-6 {
    flex: 1;
    padding: 20px;
}

.textbox {
    background-color: gray;
    color: white;
}

#small {
    font-size: 12px;
}

@media (max-width: 1000px) {
    .row-flex {
        flex-direction: column;
    }

    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #leaderboardContainer {
        display: none;
    }

    #plotContainer,
    #xstatsWrapper,
    #stuffWrapper,
    #locationWrapper,
    #pitchingWrapper {
        flex-direction: column; /* Change the flex direction to column for smaller screens */
    }

    #plusWrapper {
        flex-direction: column;
    }

    #umpLeaderboard {
        display: none;
    }

    .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #slammersContainer {
        max-width: 60%;
    }

    .textbox {
        width: 80vw;
    }
}
