<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>
<header>
    <h1><a href="/">Frontier League Savant</a></h1>
    <hr>
    <nav>
        <ul>
            <li><a href="stuff">Pitchers</a></li>
            <li><a href="hitter">Hitters</a></li>
            <li><a href="umpire">Umpires</a></li>
            <li><a class="active" href="catcher">Catchers</a></li>
        </ul>
    </nav>
</header>
<hr>
<main>
    <p style="text-align: center;">Select a catcher to view their plot:</p>
    <div id="selectContainer" class="d-flex justify-content-center">
        <select id="catcherSelect" class="col-12 form-control">
            {% for catcher in catchers %}
                <option value="{{ catcher }}">{{ catcher }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row justify-content-center">
        <div id="catcherPlotContainer" class="col-12 text-center">
            <img id="catcherImage" src="" class="img-fluid">
        </div>
    </div>

    <div id="catcherWrapper">
        <table id="catcherLeaderboardTable" class="display">
            <thead>
            <tr>
                <th>Catcher</th>
                <th>Framing Runs</th>
                <th>Left Side Strike %</th>
                <th>Right Side Strike %</th>
                <th>Num. Pitches</th>
            </tr>
            </thead>
            <tbody>
            {% for row in catcher_leaderboard_df %}
                <tr>
                    <td>{{ row['Catcher'] }}</td>
                    <td>{{ row['Framing Runs'] }}</td>
                    <td>{{ row['Left Side Strike %'] }}</td>
                    <td>{{ row['Right Side Strike %'] }}</td>
                    <td>{{ row['Num. Pitches'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            function applyCustomRenderingCallback() {
                $('#catcherLeaderboardTable').DataTable({
                    columnDefs: [{
                        targets: "_all",
                        render: function (data, type, row, meta) {
                            if ($.isNumeric(data)) {
                                if (meta.col !== 4) {
                                    return Number(data).toFixed(1);
                                } else {
                                    return Number(data).toFixed(0);
                                }
                            }
                            return data;
                        }
                    }],
                });
            }

            applyCustomRenderingCallback();
        });
    </script>
    <script>
        $(document).ready(function () {
            function updateImageCatcher() {
                var selectedCatcher = $("#catcherSelect").val();
                var imagePath = "/static/CatcherReports/" + selectedCatcher + ".png";
                $("#catcherImage").attr("src", imagePath);
            }

            updateImageCatcher();

            $("#catcherSelect").change(function () {
                updateImageCatcher();
            });
        });
    </script>
</main>


</body>

</html>
