<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>
<header>
    <h1><a href="/">Frontier League Savant</a></h1>
    <hr>
    <nav>
        <ul>
            <li><a href="stuff">Pitchers</a></li>
            <li><a class="active" href="hitter">Hitters</a></li>
            <li><a href="umpire">Umpires</a></li>
            <li><a href="catcher">Catchers</a></li>
        </ul>
    </nav>
</header>
<hr>
<main>
    <h2 class="titles">Expected Stats</h2>
    <div id="xstatsWrapper">
        <table id="xstatsLeaderboard" class="display">
            <thead>
            <tr>
                <th>Batter</th>
                <th>xBA</th>
                <th>xwOBA</th>
            </tr>
            </thead>
            <tbody>
            {% for row in xstats_df %}
                <tr>
                    <td>{{ row['Batter'] }}</td>
                    <td>{{ row['xBA'] }}</td>
                    <td>{{ row['xwOBA'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2 class="titles">Plate Discipline</h2>
    <div id="discWrapper">
        <table id="discLeaderboard" class="display">
            <thead>
            <tr>
                <th>Batter</th>
                <th class="show-mobile">O-Swing%</th>
                <th class="show-mobile">Z-Swing%</th>
                <th>Swing%</th>
                <th class="show-mobile">O-Contact%</th>
                <th class="show-mobile">Z-Contact%</th>
                <th>Contact%</th>
                <th>SwStr%</th>
            </tr>
            </thead>
            <tbody>
            {% for row in disc_df %}
                <tr>
                    <td>{{ row['Batter'] }}</td>
                    <td class="show-mobile">{{ row['O-Swing%'] }}</td>
                    <td class="show-mobile">{{ row['Z-Swing%'] }}</td>
                    <td>{{ row['Swing%'] }}</td>
                    <td class="show-mobile">{{ row['O-Contact%'] }}</td>
                    <td class="show-mobile">{{ row['Z-Contact%'] }}</td>
                    <td>{{ row['Contact%'] }}</td>
                    <td>{{ row['SwStr%'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2 class="titles">Batted Ball</h2>
    <div id="sprayWrapper">
        <table id="sprayLeaderboard" class="display">
            <thead>
            <tr>
                <th>Batter</th>
                <th>Avg. EV</th>
                <th>Avg. LA%</th>
                <th>Avg. Direction</th>
                <th>Approach Type</th>
            </tr>
            </thead>
            <tbody>
            {% for row in spray_df %}
                <tr>
                    <td>{{ row['Batter'] }}</td>
                    <td>{{ row['Avg. EV'] }}</td>
                    <td>{{ row['Avg. LA'] }}</td>
                    <td>{{ row['Avg. Direction'] }}</td>
                    <td>{{ row['Approach Type'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <br>
    <script>
        $(document).ready(function () {
            function applyCustomRenderingCallback() {
                $('#xstatsLeaderboard').DataTable({
                    columnDefs: [{
                        targets: "_all",
                        render: function (data) {
                            if ($.isNumeric(data)) {
                                return Number(data).toFixed(3);
                            }
                            return data;
                        }
                    }],
                });
            }

            applyCustomRenderingCallback();
        });
    </script>
    <script>
        $(document).ready(function () {
            function applyCustomRenderingCallback() {
                $('#sprayLeaderboard').DataTable({
                    columnDefs: [{
                        targets: "_all",
                        render: function (data) {
                            if ($.isNumeric(data)) {
                                return Number(data).toFixed(3);
                            }
                            return data;
                        }
                    }],
                });
            }

            applyCustomRenderingCallback();
        });
    </script>
    <script>
        function applyCustomRenderingCallback() {
            $('#discLeaderboard').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data) {
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(3);
                        }
                        return data;
                    }
                }],
            });
        }

        applyCustomRenderingCallback();
    </script>


</main>
</body>

</html>