<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="../static/main.js"></script>

</head>

<body>
    <header>
        <h1>Frontier League Savant</h1>
        <hr>
        <nav>
            <ul>
                <li><a href="pitcher">Pitchers</a></li>
                <li><a href="hitter">Hitters</a></li>
                <li><a href="umpire">Umpires</a></li>
                <li><a href="catcher">Catchers</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <div class="content-container">
        <div id="slammersContainer" class="col-md-6">
            <img id="slammers" src="../static/images/slammers.jpg" alt="">
        </div>
        <div class="col-md-6 textbox">
            <h5>Welcome to Frontier League Savant!</h5>
            <p>A Baseball Savant clone made for the Frontier League</p>
            <p id="small">Made by Jack Kelly</p>
        </div>
    </div>
</main>


</body>

</html>