<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

</head>

<body>
<header>
    <div class="header-content">
        <h1><a href="/">Frontier League Savant</a></h1>
        <hr>
        <nav>
            <ul>
                <li><a class="active" href="pitcher">Pitchers</a></li>
                <li><a href="hitter">Hitters</a></li>
                <li><a href="umpire">Umpires</a></li>
                <li><a href="catcher">Catchers</a></li>
            </ul>
        </nav>
    </div>
</header>

<hr>
<main>
    <p style="text-align: center;">Select a pitcher to view their plot:</p>
    <div id="selectContainer">
        <select id="pitcherSelect" class="col-6">
            {% for pitcher in pitchers %}
                <option value="{{ pitcher }}">{{ pitcher }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="plotContainerPitcher">
        <div id="loadingOverlay">
            <div class="spinner"></div>
        </div>
        <img id="pitcherImage">
    </div>

    <div id="plusWrapper">
        <h2 class="titles">Stuff+</h2>
        <div id="stuffWrapper">
            <table id="stuffLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th class="show-mobile">FB+</th>
                    <th class="show-mobile">CB+</th>
                    <th class="show-mobile">SI+</th>
                    <th class="show-mobile">CUT+</th>
                    <th class="show-mobile">SPL+</th>
                    <th class="show-mobile">CH+</th>
                    <th class="show-mobile">SL+</th>
                    <th>Stuff+</th>
                </tr>
                </thead>
                <tbody>
                {% for row in stuff_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td class="show-mobile">{{ row['FB+'] }}</td>
                        <td class="show-mobile">{{ row['CB+'] }}</td>
                        <td class="show-mobile">{{ row['SI+'] }}</td>
                        <td class="show-mobile">{{ row['CUT+'] }}</td>
                        <td class="show-mobile">{{ row['SPL+'] }}</td>
                        <td class="show-mobile">{{ row['CH+'] }}</td>
                        <td class="show-mobile">{{ row['SL+'] }}</td>
                        <td>{{ row['Stuff+'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Table for Location+ -->
        <h2 class="titles">Location+</h2>
        <div id="locationWrapper">
            <table id="locationLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th class="show-mobile">FB+</th>
                    <th class="show-mobile">CB+</th>
                    <th class="show-mobile">SI+</th>
                    <th class="show-mobile">CUT+</th>
                    <th class="show-mobile">SPL+</th>
                    <th class="show-mobile">CH+</th>
                    <th class="show-mobile">SL+</th>
                    <th>Location+</th>
                </tr>
                </thead>
                <tbody>
                {% for row in location_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td class="show-mobile">{{ row['FB+'] }}</td>
                        <td class="show-mobile">{{ row['CB+'] }}</td>
                        <td class="show-mobile">{{ row['SI+'] }}</td>
                        <td class="show-mobile">{{ row['CUT+'] }}</td>
                        <td class="show-mobile">{{ row['SPL+'] }}</td>
                        <td class="show-mobile">{{ row['CH+'] }}</td>
                        <td class="show-mobile">{{ row['SL+'] }}</td>
                        <td>{{ row['Location+'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="titles">Pitching+</h2>
        <!-- Table for Pitching+ -->
        <div id="pitchingWrapper">
            <table id="pitchingLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th class="show-mobile">FB+</th>
                    <th class="show-mobile">CB+</th>
                    <th class="show-mobile">SI+</th>
                    <th class="show-mobile">CUT+</th>
                    <th class="show-mobile">SPL+</th>
                    <th class="show-mobile">CH+</th>
                    <th class="show-mobile">SL+</th>
                    <th>Pitching+</th>
                </tr>
                </thead>
                <tbody>
                {% for row in pitching_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td class="show-mobile">{{ row['FB+'] }}</td>
                        <td class="show-mobile">{{ row['CB+'] }}</td>
                        <td class="show-mobile">{{ row['SI+'] }}</td>
                        <td class="show-mobile">{{ row['CUT+'] }}</td>
                        <td class="show-mobile">{{ row['SPL+'] }}</td>
                        <td class="show-mobile">{{ row['CH+'] }}</td>
                        <td class="show-mobile">{{ row['SL+'] }}</td>
                        <td>{{ row['Pitching+'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <h2 class="titles">Pitch Profile</h2>
        <div id="profileWrapper">
            <table id="profileLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th>Strike%</th>
                    <th>Zone%</th>
                    <th>Whiff%</th>
                </tr>
                </thead>
                <tbody>
                {% for row in profile_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td>{{ row['Strike%'] }}</td>
                        <td>{{ row['Zone%'] }}</td>
                        <td>{{ row['Whiff%'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="titles">Opponent Stats</h2>
        <div id="oppWrapper">
            <table id="oppLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th>o-xwOBA</th>
                    <th>o-xBA</th>
                    <th>o-xSLG</th>

                </tr>
                </thead>
                <tbody>
                {% for row in opp_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td>{{ row['o-xwOBA'] }}</td>
                        <td>{{ row['o-xBA'] }}</td>
                        <td>{{ row['o-xSLG'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="titles">Pitch Usage</h2>
        <div id="usageWrapper">
            <table id="usageLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th>Most Used Pitch</th>
                    <th>First Pitch</th>
                    <th>K Pitch</th>
                    <th>Needs a Strike Pitch</th>
                </tr>
                </thead>
                <tbody>
                {% for row in usage_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td>{{ row['Most Used Pitch'] }}</td>
                        <td>{{ row['First Pitch'] }}</td>
                        <td>{{ row['K Pitch'] }}</td>
                        <td>{{ row['Needs a Strike Pitch'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function applyCustomRenderingCallback() {
                $('#stuffLeaderboard td:contains("nan")').each(function () {
                    $(this).text('');
                });

                $('#locationLeaderboard td:contains("nan")').each(function () {
                    $(this).text('');
                });

                $('#pitchingLeaderboard td:contains("nan")').each(function () {
                    $(this).text('');
                });
            }

            function applyCustomRendering(data) {
                if (isNaN(data)) {
                    return 0;
                }
                return Number(data).toFixed(0);
            }

            $('#stuffLeaderboard').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data) {
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(0);
                        }
                        return data;
                    }
                },
                    {
                        targets: "td[data-colname='Stuff+']",
                        render: function (data) {
                            return applyCustomRendering(data);
                        },
                        searchable: true,
                        orderable: true
                    },
                    {
                        targets: [1, 2, 3, 4, 5, 6, 7], // Assuming columns 1 to 7 are not searchable or orderable
                        searchable: false,
                        orderable: false
                    }
                ],
                drawCallback: applyCustomRenderingCallback,

            });

            $('#locationLeaderboard').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data) {
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(0);
                        }
                        return data;
                    }
                },
                    {
                        targets: "td[data-colname='Location+']",
                        render: function (data, type, row, meta) {
                            return applyCustomRendering(data);
                        }
                    },
                    {
                        targets: [1, 2, 3, 4, 5, 6, 7], // Assuming columns 1 to 7 are not searchable or orderable
                        searchable: false,
                        orderable: false
                    }
                ],
                drawCallback: applyCustomRenderingCallback,
            });

            $('#pitchingLeaderboard').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data) {
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(0);
                        }
                        return data;
                    }
                },
                    {
                        targets: "td[data-colname='Pitching+']",
                        render: function (data) {
                            return applyCustomRendering(data);
                        }
                    }, {
                        targets: [1, 2, 3, 4, 5, 6, 7], // Assuming columns 1 to 7 are not searchable or orderable
                        searchable: false,
                        orderable: false
                    }
                ],
                drawCallback: applyCustomRenderingCallback,
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            function applyCustomRenderingCallback() {
                $('#oppLeaderboard').DataTable({
                    columnDefs: [{
                        targets: "_all",
                        render: function (data) {
                            if ($.isNumeric(data)) {
                                return Number(data).toFixed(3);
                            }
                            return data;
                        }
                    }],
                });
                $('#profileLeaderboard').DataTable({
                    columnDefs: [{
                        targets: "_all",
                        render: function (data) {
                            if ($.isNumeric(data)) {
                                return Number(data).toFixed(3);
                            }
                            return data;
                        }
                    }],
                });
                $('#usageLeaderboard').DataTable({
                    columnDefs: [{
                        targets: "_all",
                        render: function (data) {
                            if ($.isNumeric(data)) {
                                return Number(data).toFixed(2);
                            }
                            return data;
                        }
                    }],
                });
            }

            applyCustomRenderingCallback();
        });
    </script>
    <script>
        $(document).ready(function () {
            function updateImage() {
                var selectedPitcher = $("#pitcherSelect").val();
                var imagePath = "/static/Usages/" + selectedPitcher + ".png";
                $("#pitcherImage").attr("src", imagePath);
            }

            updateImage();

            $("#pitcherSelect").change(function () {
                updateImage();
            });
        });
    </script>


</main>

</body>

</html>