<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

</head>

<body>
<header>
    <div class="header-content">
        <h1><a href="/">Frontier League Savant</a></h1>
        <hr>
        <nav>
            <ul>
                <li><a class="active" href="stuff">Stuff+ Leaderboard</a></li>
                <li><a href="xstats">xStats Leaderboard</a></li>
                <li><a href="umpire">Umpire Reports</a></li>
                <li><a href="catcher">Catcher Reports</a></li>
            </ul>
        </nav>
    </div>
</header>

<hr>
<main>
    <div id="plusWrapper">
        <div id="stuffWrapper">
            <table id="stuffLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th class="show-mobile">FB+</th>
                    <th class="show-mobile">CB+</th>
                    <th class="show-mobile">SI+</th>
                    <th class="show-mobile">CUT+</th>
                    <th class="show-mobile">SPL+</th>
                    <th class="show-mobile">CH+</th>
                    <th class="show-mobile">SL+</th>
                    <th>Stuff+</th>
                </tr>
                </thead>
                <tbody>
                {% for row in stuff_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td class="show-mobile">{{ row['FB+'] }}</td>
                        <td class="show-mobile">{{ row['CB+'] }}</td>
                        <td class="show-mobile">{{ row['SI+'] }}</td>
                        <td class="show-mobile">{{ row['CUT+'] }}</td>
                        <td class="show-mobile">{{ row['SPL+'] }}</td>
                        <td class="show-mobile">{{ row['CH+'] }}</td>
                        <td class="show-mobile">{{ row['SL+'] }}</td>
                        <td>{{ row['Stuff+'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Table for Location+ -->
        <div id="locationWrapper">
            <table id="locationLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th class="show-mobile">FB+</th>
                    <th class="show-mobile">CB+</th>
                    <th class="show-mobile">SI+</th>
                    <th class="show-mobile">CUT+</th>
                    <th class="show-mobile">SPL+</th>
                    <th class="show-mobile">CH+</th>
                    <th class="show-mobile">SL+</th>
                    <th>Location+</th>
                </tr>
                </thead>
                <tbody>
                {% for row in location_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td class="show-mobile">{{ row['FB+'] }}</td>
                        <td class="show-mobile">{{ row['CB+'] }}</td>
                        <td class="show-mobile">{{ row['SI+'] }}</td>
                        <td class="show-mobile">{{ row['CUT+'] }}</td>
                        <td class="show-mobile">{{ row['SPL+'] }}</td>
                        <td class="show-mobile">{{ row['CH+'] }}</td>
                        <td class="show-mobile">{{ row['SL+'] }}</td>
                        <td>{{ row['Location+'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Table for Pitching+ -->
        <div id="pitchingWrapper">
            <table id="pitchingLeaderboard" class="display">
                <thead>
                <tr>
                    <th>Pitcher</th>
                    <th class="show-mobile">FB+</th>
                    <th class="show-mobile">CB+</th>
                    <th class="show-mobile">SI+</th>
                    <th class="show-mobile">CUT+</th>
                    <th class="show-mobile">SPL+</th>
                    <th class="show-mobile">CH+</th>
                    <th class="show-mobile">SL+</th>
                    <th>Pitching+</th>
                </tr>
                </thead>
                <tbody>
                {% for row in pitching_data %}
                    <tr>
                        <td>{{ row['Pitcher'] }}</td>
                        <td class="show-mobile">{{ row['FB+'] }}</td>
                        <td class="show-mobile">{{ row['CB+'] }}</td>
                        <td class="show-mobile">{{ row['SI+'] }}</td>
                        <td class="show-mobile">{{ row['CUT+'] }}</td>
                        <td class="show-mobile">{{ row['SPL+'] }}</td>
                        <td class="show-mobile">{{ row['CH+'] }}</td>
                        <td class="show-mobile">{{ row['SL+'] }}</td>
                        <td>{{ row['Pitching+'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function applyCustomRenderingCallback(settings) {
                // Reapply custom rendering after filtering or sorting for Stuff+
                $('#stuffLeaderboard td[data-colname="Stuff+"]').each(function () {
                    var cell = $(this);
                    var value = parseFloat(cell.text());
                });

                // Reapply custom rendering after filtering or sorting for Location+
                $('#locationLeaderboard td[data-colname="Stuff+"]').each(function () {
                    var cell = $(this);
                    var value = parseFloat(cell.text());
                });

                // Reapply custom rendering after filtering or sorting for Pitching+
                $('#pitchingLeaderboard td[data-colname="Stuff+"]').each(function () {
                    var cell = $(this);
                    var value = parseFloat(cell.text());
                });

                // Hide 'nan' values visually for Stuff+
                $('#stuffLeaderboard td:contains("nan")').each(function () {
                    $(this).text('');
                });

                // Hide 'nan' values visually for Location+
                $('#locationLeaderboard td:contains("nan")').each(function () {
                    $(this).text('');
                });

                // Hide 'nan' values visually for Pitching+
                $('#pitchingLeaderboard td:contains("nan")').each(function () {
                    $(this).text('');
                });
            }

            var dataTableStuff = $('#stuffLeaderboard').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data, type, row, meta) {
                        // Format as whole number if it's a number
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(0);
                        }
                        return data;
                    }
                },
                    {
                        targets: "td[data-colname='Stuff+']",
                        render: function (data, type, row, meta) {
                            return applyCustomRendering(data);
                        }
                    }
                ],
                drawCallback: applyCustomRenderingCallback,
            });

            var dataTableLocation = $('#locationLeaderboard').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data, type, row, meta) {
                        // Format as whole number if it's a number
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(0);
                        }
                        return data;
                    }
                },
                    {
                        targets: "td[data-colname='Location+']",
                        render: function (data, type, row, meta) {
                            return applyCustomRendering(data);
                        }
                    }
                ],
                drawCallback: applyCustomRenderingCallback,
            });

            var dataTablePitching = $('#pitchingLeaderboard').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data, type, row, meta) {
                        // Format as whole number if it's a number
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(0);
                        }
                        return data;
                    }
                },
                    {
                        targets: "td[data-colname='Pitching+']",
                        render: function (data, type, row, meta) {
                            return applyCustomRendering(data);
                        }
                    }
                ],
                drawCallback: applyCustomRenderingCallback,
            });
        });
    </script>

</main>

</body>

</html>