<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>
<header>
    <h1><a href="/">Frontier League Savant</a></h1>
    <hr>
    <nav>
        <ul>
            <li><a href="pitcher">Pitchers</a></li>
            <li><a href="hitter">Hitters</a></li>
            <li><a class="active" href="umpire">Umpires</a></li>
            <li><a href="catcher">Catchers</a></li>
        </ul>
    </nav>
</header>
<hr>
<main>
    <p style="text-align: center;">Select an umpire:</p>
    <div id="selectContainer">
        <select id="umpireSelect">
            {% for umpire in umpires %}
                <option value="{{ umpire }}">{{ umpire }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="plotContainer">
        <div id="loadingOverlay">
            <div class="spinner"></div>
        </div>
    </div>
    <div id="umpWrapper">
        <table id="umpLeaderboardTable" class="display">
            <thead>
            <tr>
                <th>Umpire</th>
                <th>Total Pitch Accuracy</th>
                <th>Called Ball Accuracy</th>
                <th>Called Strike Accuracy</th>
                <th>Num. Pitches Called</th>
            </tr>
            </thead>
            <tbody>
            {% for row in umpire_leaderboard_df %}
                <tr>
                    <td>{{ row['Umpire'] }}</td>
                    <td>{{ row['Total Pitch Accuracy'] }}</td>
                    <td>{{ row['Called Ball Accuracy'] }}</td>
                    <td>{{ row['Called Strike Accuracy'] }}</td>
                    <td>{{ row['Num. Pitches Called'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            function applyCustomRenderingCallback() {
                $('#umpLeaderboardTable').DataTable({
                    columnDefs: [{
                        targets: "_all",
                        render: function (data, type, row, meta) {
                            if ($.isNumeric(data)) {
                                if (meta.col !== 4) {
                                    return Number(data).toFixed(1);
                                } else {
                                    return Number(data).toFixed(0);
                                }
                            }
                            return data;
                        }
                    }],
                });
            }

            applyCustomRenderingCallback();
        });
    </script>
    <script>
        function updateDisplayedImages(selectedUmpire) {
            $('#plotContainer').empty();
            const imageNames = ['edge_calls.png', 'heat_maps.png', 'total.png']; // Image filenames
            for (const imageName of imageNames) {
                const imagePath = `UmpireReports/${selectedUmpire}/${imageName}`;
                const imgElement = $('<img>').attr('src', imagePath);
                $('#plotContainer').append(imgElement);
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $.get('/umpires', function (data) {
                const umpires = data.umpires;
                const umpireSelect = $('#umpireSelect');

                umpires.forEach((umpire) => {
                    const option = $('<option>').val(umpire).text(umpire);
                    umpireSelect.append(option);
                });

                umpireSelect.change(function () {
                    const selectedUmpire = $(this).val();
                    updateDisplayedImages(selectedUmpire);
                });

                updateDisplayedImages(umpireSelect.val());
            });
        });
    </script>


</main>

</body>

</html>
