<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>
    <header>
<h1><a href="/">Frontier League Savant</a></h1>        <hr>
        <nav>
            <ul>
                <li><a href="stuff">Stuff+ Leaderboard</a></li>
                <li><a href="xstats">xStats Leaderboard</a></li>
                <li><a class="active" href="umpire">Umpire Reports</a></li>
                <li><a href="catcher">Catcher Reports</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <p style="text-align: center;">Select an umpire:</p>
        <div id="selectContainer">
            <select id="umpireSelect">
                {% for umpire in umpires %}
                <option value="{{ umpire }}">{{ umpire }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="plotContainer">

        </div>
    <div id="umpWrapper">
            <table id="umpLeaderboardTable" class="display">
                <thead>
                    <tr>
                        <th>Umpire</th>
                        <th>Total Pitch Accuracy</th>
                        <th>Called Ball Accuracy</th>
                        <th>Called Strike Accuracy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in umpire_leaderboard_df %}
                    <tr>
                        <td>{{ row['Umpire'] }}</td>
                        <td>{{ row['Total Pitch Accuracy'] }}</td>
                        <td>{{ row['Called Ball Accuracy'] }}</td>
                        <td>{{ row['Called Strike Accuracy'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <script>
    $(document).ready(function () {
        function applyCustomRenderingCallback(settings) {
            // Reapply custom rendering after filtering or sorting for Stuff+

            var dataTableUmp = $('#umpLeaderboardTable').DataTable({
                columnDefs: [{
                    targets: "_all",
                    render: function (data, type, row, meta) {
                        // Format as a whole number if it's a number
                        if ($.isNumeric(data)) {
                            return Number(data).toFixed(3);
                        }
                        return data;
                    }
                }],
            });
        }
        // Call the function after defining it
        applyCustomRenderingCallback();
    });
</script>
    </main>

</body>

</html>
